.container {
    display: flex;
    align-items: center;
    font-size: 2rem;
    background: var(--green-primary);
    padding: 0.5rem;
    border-radius: 1rem;
    margin: 1rem;
    box-shadow: var(--shadow);
    width: 90vw;
    max-width: 1200px;
    color: var(--dark);
    text-align: center;
}

.container div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.location {
    width: 40%;
}

.weather,
.information {
    width: 30%;
}

.city,
.temp {
    font-size: 2.3rem;
    font-weight: bold;
}

.img {
    height: 5rem;
    width: 5rem;
}
