.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    min-width: 300px;

    background: linear-gradient(0deg, rgba(187, 243, 255, 1) 0%, rgba(0, 118, 254, 1) 100%);
    color: white;

    font-size: 2rem;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.284);

    border-radius: 2rem;
    padding: 5rem;
    box-shadow: var(--shadow);
}
.city {
    font-size: 3rem;
}

.temp {
    font-size: 5rem;
}

.img {
    height: 6rem;
    width: 6rem;
}

.container div {
    padding: 0.7rem;
}
